/* Base styles */
html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: light dark;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer utilities {
  .bg-gold {
    background-color: #d4af37; /* Gold color */
  }

  .border-gold {
    border-color: #d4af37; /* Gold color */
  }

  .hover\:bg-black:hover {
    background-color: #000; /* Black on hover */
  }

  .hover\:text-gold:hover {
    color: #d4af37; /* Gold text on hover */
  }

  .text-gold {
    color: #d4af37; /* Gold color */
  }
}

/* Ensure the buttons are clearly visible */
button {
  transition: all 0.3s ease;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Larger button styles */
.btn-large {
  width: 175px;
  height: 50px;
  font-size: 1.25rem;
}

/* New custom button styles */
.button-primary {
  @apply bg-yellow-400 text-black font-bold px-6 py-2 rounded-full;
}

.button-primary:hover {
  @apply bg-yellow-500;
}

/* Prize pool display styles */
.prize-pool-display {
  @apply bg-gray-900 text-gold font-bold px-4 py-2 rounded-full;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay.visible {
  display: block;
}
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px;
  z-index: 1000;
}
.popup.visible {
  display: block;
}

/* Centering container */
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
